<html>
    <head>
        <title>Livepeer staking alert - Pay attention.</title>
    </head>
    <body>
        <p>I am sorry, your transcoder <a href="{{transcoderAddressUrl}}">{{transcoderAddress}}</a>  has not claimed the inflationary token reward. </p>
        <p>You've earned from inflation since {{dateYesterday}} (rounds #{{roundFrom}} - #{{roundTo}}): {{lptEarned}} LPT </p>

        <p>Check your delegating status: {{delegatingStatusUrl}}</p>

        <p>Best regards</p>
    </body>
</html>