<html>
    <head>
        <title>This is a Livepeer Alert Notification for TokenHolders.</title>
    </head>
    <body>
        <h3>LPT earned from inflation:</h3>
        <tr>
            {{#ifCond fromRound '==' toRound}}
                <td>
                    <ul>
                        <li>Earnings from round {{fromRound}}: {{earnedFromInflation}} LPT</li>
                        <li>Actual round: {{currentRound}}</li>
                    </ul>
                </td>
            {{else}}
                <td>
                    <ul>
                        <li>Earnings from round {{fromRound}} to round {{toRound}}: {{earnedFromInflation}} LPT</li>
                        <li>Actual round: {{currentRound}}</li>
                    </ul>
                </td>
            {{/ifCond}}

        </tr>
        <h3>Summary information about transcoders:</h3>
        {{#each transcoders}}
            <tr>
                <td>Transcoder Address: {{address}}
                    <ul>
                        <li>Is active: {{active}}</li>
                        <li>Last round that the transcoder called reward: {{lastRewardRound}}</li>
                    </ul>
                </td>
            </tr>
        {{/each}}

        <p>To unsubscribe click <a href="{{unsubscribeEmailUrl}}">here</a></p>
        <p>Best regards</p>
    </body>
</html>