<b>Livepeer staking alert - Pay attention.</b>

I am sorry, your delegate <a href="{{transcoderAddressUrl}}">{{transcoderAddress}}</a>  has not claimed the inflationary token reward.
You've earned from inflation since {{dateYesterday}}: {{lptEarned}} LPT

Check your delegating status: {{delegatingStatusUrl}}

Best regards
